version: '3.8'
services:
  db:
    image: mariadb:10.6
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: ${DB_NAME:-cywsdb}
      MYSQL_USER: ${DB_USER:-webmaster@cyws}
      MYSQL_PASSWORD: ${DB_PASS:-cy025@ws_PJ}
    ports:
      - "3307:3307"
    volumes:
      - db_data:/var/lib/mysql

  php:
    build:
      context: .
      dockerfile: docker/php/Dockerfile
    volumes:
      - ./:/srv/app:cached
    environment:
      DB_HOST: localhost
      DB_PORT: 3307
      DB_NAME: ${DB_NAME}
      DB_USER: ${DB_USER}
      DB_PASS: ${DB_PASS}
    depends_on:
      - db
    ports:
      - "8080:80"

  phpmyadmin:
    image: phpmyadmin:latest
    environment:
      PMA_HOST: db
      MYSQL_ROOT_PASSWORD: rootpassword
    ports:
      - "8081:80"
    depends_on:
      - db

volumes:
  db_data:
